set default="1"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

set timeout=60
### END /etc/grub.d/00_header ###

search --no-floppy --set=root -l 'CentOS-Stream-9-BaseOS-x86_64'

### BEGIN /etc/grub.d/10_linux ###
menuentry 'Rescue CentOS Stream 9' --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=CentOS-Stream-9-BaseOS-x86_64 inst.rescue
	initrdefi /images/pxeboot/initrd.img
}
menuentry 'Auto Install Custom CentOS 9' {
        linuxefi /images/pxeboot/vmlinuz inst.stage2=cdrom inst.ks=cdrom:/ks.cfg
        initrdefi /images/pxeboot/initrd.img
}
